<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>My Online Store</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'list_clients' %}">Клиенты</a></li>
                <li><a href="{% url 'products' %}">Продукты</a></li>
                <li><a href="{% url 'product_form' %}">Добавить товар</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Online Store. All rights reserved.</p>
    </footer>
</body>
</html>
